@import "reset";
.public{
  color:#009ee0; font-size:80px; line-height:0.8;
  font-weight:bold; letter-spacing:-5px;
}
#wrap{
  height: 100%;
  position: relative;
  #header{
    position: relative;
    height: 80px;
    width: 100%;
    background-color: purple;
    .header-main{
      height: 100%;
      width: 1100px;
      margin: 0 auto;
      .logo{
        margin-top:15px;
        float: left;
      }
      .nav{
        margin-top:50px;
        float: right;
        li{
          float: left;
          margin-left:40px;
          position: relative;
          color: #009EE0;
          &:hover{
            .down{
              width: 100%;
            }
          }
          &.active{
            .down{
              width: 100%;
            }
          }
          .down{
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 0px;
            overflow: hidden;
            transition: width 1s;
            color: #000;
          }

        }
      }
      .arrow{
        position: absolute;
        top: 80px;
        left: 0px;
        height: 11px;
        width: 21px;
        background-image: url("../images/arrow.png");
        background-repeat: no-repeat;
        transition: left 1s;
        z-index: 5;
      }
      .music{
        height: 14px;
        width: 14px;
        background-image: url(../images/musicoff.gif);
        float: left;
        margin-top: 50px;
        &.active{
          background-image: url(../images/musicon.gif);
        }
      }
    }
  }
  #content{
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: deeppink;
    overflow: hidden;
    .list{
      position: relative;
      height: 500%;
      top: 0px;
      transition: top 1s;
      li{
        position: relative;
        height: 20%;
        //background-color: blueviolet;
        section{
          position: absolute;
          top: 50%;
          left: 50%;
          height: 520px;
          width: 1100px;
          transform: translate(-50%,-50%);
          background-color: darkred;
          .home-slide{
            position: relative;
            height: 100%;
            width: 100%;
            transform-style: preserve-3d;
            perspective: 1000px;
            li{
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              text-align: center;
              line-height: 520px;
              visibility: hidden;
              &.show{
                visibility: visible;
              }
              &.leftHide{
                visibility: hidden;
                animation: leftHide 2s linear;
              }
              &.rightHide{
                visibility: hidden;
                animation: rightHide 2s linear;
              }
              &.leftShow{
                visibility: visible;
                animation: leftShow 2s linear;
              }
              &.rightShow{
                visibility: visible;
                animation: rightShow 2s linear;
              }
              &:nth-child(1){
                background-color: purple;
              }
              &:nth-child(2){
                background-color: springgreen;
              }
              &:nth-child(3){
                background-color: teal;
              }
              &:nth-child(4){
                background-color: tomato;
              }
            }
          }
          .home-nav{
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            li{
              float: left;
              height:20px;
              width: 20px;
              background-color: rgba(255,255,255,0.5);
              margin: 2px;
              box-shadow:0 0 4px rgba(25,25,25,0.8);
              border-radius: 50%;
              &.active{
                background-color: white;
              }
            }
          }
        }
      }
    }
    .contentnav{
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      li{
        height: 18px;
        width: 18px;
        margin-bottom: 10px;
        border-radius: 50%;
        border: 1px solid white;
        &:last-child{
          margin-bottom: 0px;
        }
        &.active{
          background-color: darkred;
        }
      }
    }
  }
}
@keyframes leftShow {
  0%{visibility: hidden;transform: translateZ(-200px)}
  50%{transform: translateX(-40%) rotateY(30deg) scale(.8);}
  100%{visibility: visible;transform: translateZ(0)}
}
@keyframes rightHide {
  0%{visibility: visible;transform: translateZ(0)}
  50%{transform: translateX(40%) rotateY(-30deg) scale(.8);}
  100%{visibility: hidden;transform: translateZ(-200px)}
}
@keyframes rightShow {
  0%{visibility: hidden;transform: translateZ(-200px)}
  50%{transform: translateX(40%) rotateY(-30deg) scale(.8);}
  100%{visibility: visible;transform: translateZ(0)}
}
@keyframes leftHide {
  0%{visibility: visible;transform: translateZ(0)}
  50%{transform: translateX(-40%) rotateY(30deg) scale(.8);}
  100%{visibility: hidden;transform: translateZ(-200px)}
}